img {
	border: solid 2px #FF00FF;
	outline: solid 2px #FF00FF;
	outline-offset: 2px;
	width: 450px;
}

.span {
		text-align: center;
		color:  #000080;
		font-size: 150%;
}

span{
	text-decoration: underline;
}

ol {
    text-align: left;
    font-size: 1.8em;
    color: DarkGreen;

}

footer {
	text-align: center;
}